@import "tailwindcss";
@font-face {
  font-family: Helvetica;
  src: url(./assets/fonts/Helvetica.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(./assets/fonts/Helvetica-Bold.ttf);
}
* {
  font-family: Helvetica ;
  user-select: none;
}
#showCity::-webkit-scrollbar {
  display: none; 
}

#showCity {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 5px;   
  height: 0px;  
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #202020;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
