@import "tailwindcss";
@font-face {
  font-family: Helvetica;
  src: url(./assets/fonts/Helvetica.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(./assets/fonts/Helvetica-Bold.ttf);
}
* {
  font-family: Helvetica ;
  user-select: none;
}
#showCity::-webkit-scrollbar {
  display: none; /* hides scrollbar in Chrome, Edge, Safari */
}

/* Optional: for Firefox */
#showCity {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
